@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500;600;700;800&display=swap");
@media (max-width: 850px) {
  body {
    margin: 0 auto;
  }
  .header {
    height: 80px !important;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header__logo {
    max-width: 110px !important;
    margin: 5px !important;
  }
  .header__block-menu, .header__menus-container, .header__language, .header__block-right {
    display: none !important;
  }
  .header__hamburger-box-mobile {
    display: block !important;
    width: 78px;
    height: 78px;
    display: inline-block;
    position: absolute;
    pointer-events: auto;
    white-space: nowrap;
    cursor: pointer;
    color: #262524;
    text-transform: none;
    line-height: 11px;
    font-size: 1rem;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    transform-origin: top right;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    left: 0;
    z-index: 3;
    background-color: #fff !important;
  }
  .header__hamburger-inner-mobile {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: 12px;
    height: 1px;
    background-color: #262524;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    display: block;
    top: 4px;
    margin-top: 0;
    pointer-events: auto;
    white-space: nowrap;
    cursor: pointer;
    color: #262524;
    text-transform: none;
    line-height: 11px;
    font-size: 1rem;
    font-family: sans-serif;
    font: inherit;
    text-rendering: optimizeLegibility;
    top: 48%;
    left: 45%;
  }
  .header__hamburger-inner-mobile::before {
    transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    top: -3px;
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: #262524;
    border-radius: 2px;
    position: absolute;
    pointer-events: auto;
    white-space: nowrap;
    cursor: pointer;
    color: #262524;
    text-transform: none;
    line-height: 11px;
    font-size: 1rem;
    font-family: sans-serif;
    font: inherit;
    text-rendering: optimizeLegibility;
  }
  .header__hamburger-inner-mobile::after {
    transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    bottom: -3px;
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: #262524;
    border-radius: 2px;
    position: absolute;
    pointer-events: auto;
    white-space: nowrap;
    cursor: pointer;
    color: #262524;
    text-transform: none;
    line-height: 11px;
    font-size: 1rem;
    font-family: sans-serif;
    font: inherit;
    text-rendering: optimizeLegibility;
  }
  .header__menus-container-mobile {
    display: block !important;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: gray;
    position: absolute;
    top: 0px;
    left: 0;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.3, 1) 0.5s;
    position: fixed;
    overflow-y: scroll;
    background: #f7f2f2;
  }
  .header__menu-mobile-logo {
    position: relative;
    top: 1.5rem;
    left: 8rem;
    z-index: 100;
    border-bottom: 0.5px solid #e6e6e6;
    height: 3rem;
    display: inline-block;
  }
  .header__menu-mobile-logo img {
    max-width: 110px;
  }
  .header__menu-wrapper {
    width: 100%;
    height: 93vh;
    padding: 11vh 20px 6vh 40px;
  }
  .header__lng-box {
    display: block !important;
    font-size: 0.8125rem !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    line-height: 60px !important;
    color: #262524 !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    box-sizing: border-box !important;
    letter-spacing: 2px !important;
    border-bottom: 0.5px solid #e6e6e6 !important;
    text-align: center !important;
    font-family: "Assistant", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .lng-box-active {
    background: #ede4e2 !important;
  }
  .header__menu-mobile-explain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: red;
  }
  .header__menu-mobile-explain ul {
    margin-top: 1rem;
  }
  .header__menu-mobile-explain ul li {
    margin: 0.9em 0 1.1em 0;
    padding-right: 0;
    width: 100%;
    color: #262524;
    font-family: Assistant, Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  .header__menu-mobile-explain ul li a {
    color: #262524;
    font-family: "Assistant", sans-serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .header__menu-mobile-groupOne {
    margin-top: 0.5rem !important;
  }
  .header__menu-mobile-ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0;
  }
  .header__menu-mobile-li {
    margin-bottom: 0.4em;
  }
  .header__menu-mobile-a {
    font-weight: 400;
    text-transform: uppercase;
    color: #262524;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
    line-height: 1em;
    margin-bottom: 0.5em;
    letter-spacing: 2px !important;
  }
  .page-title {
    width: 100% !important;
  }
  .link-section {
    padding-inline: 0 !important;
  }
  .link-section ol {
    width: 100vw !important;
  }
  .region {
    width: 100% !important;
  }
  .region__paragraph {
    width: 90vw !important;
  }
  .region__image-firstBig {
    max-width: 1300px !important;
    width: 90vw !important;
  }
  .region__slider-container {
    width: 100% !important;
  }
  .region .pOne {
    margin-bottom: 0;
  }
  .region .pTwo {
    margin-bottom: 2rem;
  }
  .region .pThree {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .region__slider-container {
    margin-bottom: 3rem;
  }
  .footer {
    width: 100vw !important;
  }
  .footer__inside-footer {
    flex-direction: column !important;
    width: calc(100% - 40px) !important;
  }
  .footer__logo-footer {
    max-width: 110px;
    padding-bottom: 2rem;
  }
  .footer__link-container {
    padding: 0rem;
    flex-wrap: wrap;
  }
  .footer #special-text {
    font-size: 0.8rem !important;
  }
}
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #262524;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

main {
  overflow-x: hidden !important;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  border-bottom: 0.5px solid #e6e6e6;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
}
.header__menus-container-mobile {
  display: none;
}
.header__logo {
  max-width: 170px;
  width: 100%;
  height: auto;
}
.header #right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__block-menu {
  z-index: 3;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  width: 60px;
  border-right: 0.5px solid #e6e6e6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__language {
  z-index: 100;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate3d(0px, 240px, 0px);
  transition: 1s;
}
.header__language:hover {
  transform: translate3d(0px, 0px, 0px);
}
.header__lngbox {
  display: block;
  padding-inline: auto;
  font-size: 0.8125rem;
  font-weight: 700;
  cursor: pointer;
  line-height: 60px;
  color: #262524;
  text-decoration: none;
  background-color: #fff;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.header__lngbox:hover {
  background-color: #f7f2f2;
  color: #262524;
}
.header__button-wrapper {
  position: relative;
  pointer-events: auto;
  white-space: nowrap;
  cursor: pointer;
  color: #262524;
  text-transform: none;
  line-height: 11px;
  font-size: 1rem;
  font-family: sans-serif;
  font: inherit;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
  height: 160px;
}
.header__button-label-open {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  transition: opacity 0.5s ease-in-out;
  vertical-align: middle;
  pointer-events: auto;
  white-space: nowrap;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  transform: rotate(-90deg);
}
.header__button-label-close {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  transition: opacity 0.5s ease-in-out;
  vertical-align: middle;
  pointer-events: auto;
  white-space: nowrap;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  transform: rotate(-90deg);
  opacity: 0;
  display: none;
}
.header__hamburger-box-mobile {
  display: none;
}
.header__hamburger-box {
  vertical-align: middle;
  width: 12px;
  height: 11px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  pointer-events: auto;
  white-space: nowrap;
  cursor: pointer;
  color: #262524;
  text-transform: none;
  line-height: 11px;
  font-size: 1rem;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  transform: rotate(90deg);
  transform-origin: top right;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
.header__hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  width: 12px;
  height: 1px;
  background-color: #262524;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  display: block;
  top: 4px;
  margin-top: 0;
  pointer-events: auto;
  white-space: nowrap;
  cursor: pointer;
  color: #262524;
  text-transform: none;
  line-height: 11px;
  font-size: 1rem;
  font-family: sans-serif;
  font: inherit;
  text-rendering: optimizeLegibility;
}
.header__hamburger-inner::before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  top: -3px;
  content: "";
  display: block;
  width: 12px;
  height: 1px;
  background-color: #262524;
  border-radius: 2px;
  position: absolute;
  pointer-events: auto;
  white-space: nowrap;
  cursor: pointer;
  color: #262524;
  text-transform: none;
  line-height: 11px;
  font-size: 1rem;
  font-family: sans-serif;
  font: inherit;
  text-rendering: optimizeLegibility;
}
.header__hamburger-inner::after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  bottom: -3px;
  content: "";
  display: block;
  width: 12px;
  height: 1px;
  background-color: #262524;
  border-radius: 2px;
  position: absolute;
  pointer-events: auto;
  white-space: nowrap;
  cursor: pointer;
  color: #262524;
  text-transform: none;
  line-height: 11px;
  font-size: 1rem;
  font-family: sans-serif;
  font: inherit;
  text-rendering: optimizeLegibility;
}
.header__menus-container {
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: gray;
  position: absolute;
  top: 0px;
  left: 0;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.3, 1) 0.5s;
  position: fixed;
  overflow-y: scroll;
  background: #f7f2f2;
  padding: 4vh 60px 4vh 100px;
}
.header__menu-open {
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: gray;
  position: absolute;
  top: 0px;
  right: 0;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  transform: translateX(0%);
  transition: transform 1s cubic-bezier(0.9, 0, 0.3, 1);
  position: fixed;
  overflow-y: scroll;
  background: #f7f2f2;
}
.header__menus-logo {
  width: 90%;
  display: inline-block;
  border-bottom: 0.5px solid #e6e6e6;
  height: 60px;
  text-align: left;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 1rem;
}
.header__menus-logo img {
  max-width: 160px;
  width: 160px;
  height: auto;
}
.header__block-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60px;
  -webkit-animation: d 1s 2s forwards;
          animation: d 1s 2s forwards;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-left: 0.5px solid #e6e6e6;
  z-index: 1;
}
.header .text-group ul span {
  padding: 0 0 1rem 0;
}
.header .text-group ul li {
  padding: 0 0 0.7rem 0;
}
.header .ul-hover {
  cursor: pointer;
}
.header .ul-hover span:hover {
  color: #9a6d6c;
}
.header .ul-hover li:hover {
  color: #9a6d6c;
}
.header .multiple-li {
  display: flex;
  flex-direction: column;
}
.header .multiple-li span {
  padding: 0 0 1rem 0;
  cursor: pointer;
}
.header .multiple-li li {
  display: inline-block;
  transition: all 0.25s ease-in-out;
  padding: 0.25em 0;
  text-transform: uppercase;
  color: #262524;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.15;
  padding: 0 0 0.7rem 0;
  cursor: pointer;
}
.header .multiple-li li:hover {
  color: #9a6d6c;
}
.header .container-for-columns {
  border-bottom: 0.5px solid #e6e6e6;
}
.header .latest-updates {
  text-transform: uppercase;
  color: #262524;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  padding-top: 2rem;
  padding-bottom: 1.4rem;
}
.header__div {
  display: flex;
  cursor: pointer;
}
.header__div-text-group {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.header__div-text-group div {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}
.header__div-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.7em;
  text-transform: none;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  font-weight: 400;
  color: #262524;
}
.header__div-subtitle {
  color: #262524;
  -webkit-animation: d 0.5s 1s forwards;
          animation: d 0.5s 1s forwards;
  text-align: left;
  letter-spacing: 0.05em;
  margin: 0 0 1rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.1em;
  text-indent: -0.08em;
}
.header__div-desc {
  margin: 0;
  line-height: 1.6em;
  font-size: 0.875rem;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Assistant", sans-serif;
  color: #565552;
}
.header__bottom-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  align-items: flex-start;
  border-left: 1px solid #e6e6e6;
  padding-left: 3rem;
  padding-top: 0;
  width: 30%;
  color: #262524;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.header__bottom-textLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #262524;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.header__row-ul {
  padding-left: 2rem !important;
}
.header__li-text-link {
  color: #262524;
  text-transform: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1em;
  margin-bottom: 0.5em;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  text-align: -webkit-match-parent;
  list-style: none;
  font-family: "Assistant", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.header__bottom-spotify {
  color: #262524;
  text-decoration: none;
  display: block;
  padding: 0 0.4rem;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}
.header__bottom-icon-spo {
  background: url(../images/header/spotify.svg) no-repeat 50%;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.25rem;
  display: inline-block;
  color: #262524;
  cursor: pointer;
  text-align: left;
}
.header__bottom-title {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
  color: #262524;
  cursor: pointer;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-transform: uppercase;
}
.header__bottom-title .strong {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #262524;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.header__bottom-spo-link {
  font-size: 0.8125rem;
  text-transform: none;
  font-weight: 400;
  text-decoration: none;
  color: #262524;
  margin-left: 1.5rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  padding-bottom: 2rem;
}
.header__bottom-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__icon-self {
  width: 30px;
  height: 30px;
  margin: 0;
  display: block;
  background: no-repeat 50%;
  background-color: transparent;
  background-size: 16px 16px;
  transition: all 0.25s cubic-bezier(0.4, 1.9, 0.5, 1);
  cursor: pointer;
  font-size: 0.875rem;
}
.header #instagram {
  background-image: url(../images/header/bottom-icons/instagram.svg);
}
.header #facebook {
  background-image: url(../images/header/bottom-icons/facebook.svg);
}
.header #whatsapp {
  background-image: url(../images/header/bottom-icons/whatsapp.svg);
}
.header #wechat {
  background-image: url(../images/header/bottom-icons/wechat.svg);
}
.header #telegram {
  background-image: url(../images/header/bottom-icons/telegram.svg);
}
.header #weibo {
  background-image: url(../images/header/bottom-icons/weibo.svg);
}
.header #xiaohongshu {
  background-image: url(../images/header/bottom-icons/xiaohongshu.svg);
}
.header #pinterest {
  background-image: url(../images/header/bottom-icons/pinterest.svg);
}
.header #youtube {
  background-image: url(../images/header/bottom-icons/youtube.svg);
}
.header #linkedin {
  background-image: url(../images/header/bottom-icons/linkedin.svg);
}
.header #vk {
  background-image: url(../images/header/bottom-icons/vk.svg);
}

.page-title {
  width: calc(100% - 120px);
  margin: 0 auto !important;
  text-transform: uppercase;
  color: #262524;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
}
.page-title h2 {
  text-align: center;
  margin: 2.5rem auto 2rem;
  max-width: 16em;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  text-indent: -0.08em;
  color: #262524;
  line-height: 95%;
  letter-spacing: 0.05em;
  font-family: "Assistant", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.link-section {
  padding: 1rem 0;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 4rem;
}
.link-section ol {
  width: 80vw;
  padding: 0;
  margin: 0 auto;
}
.link-section ol li {
  text-transform: capitalize;
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2.2em;
  color: #262524;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.link-section ol li a {
  cursor: pointer;
}
.link-section ol li .ol-a {
  text-decoration: none;
  color: #9a6d6c;
  font-weight: 400;
}
.link-section ol li .arrow::before {
  color: #d3d3d3;
  content: "▸";
  margin: 0 0.5em;
}

.region {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(100% - 190px);
  margin: 0 auto;
  flex-wrap: wrap;
}
.region__paragraph {
  width: calc(100% - 120px);
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  margin-top: 3rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
.region__paragraph p {
  line-height: 2.2em;
  margin: 0 0 2.2em;
}
.region__paragraph span {
  line-height: 2.2em;
  margin: 0 0 2.2em;
}
.region__image-firstBig {
  width: calc(100% - 50px);
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content: stretch;
}
.region__image-firstBig img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-style: none;
  border: 0;
  aspect-ratio: auto 1000/711;
}
.region__slider-container {
  width: calc(100% - 120px);
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
.region__slider {
  position: relative;
  padding-top: max(60%, 326px);
  height: 0;
  width: 100%;
}
.region__slider iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.region__button-allCategories {
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  white-space: nowrap;
  margin: 0.5em;
}
.region__button-allCategories button {
  display: inline-block;
  font-family: Assistant, Arial, Helvetica, sans-serif;
  font-weight: 900 !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  transition: background-color 0.25s cubic-bezier(0.9, 0, 0.3, 1);
  color: #fff;
  background-color: #9a6d6c;
  font-size: 0.875rem;
  padding: 1em 2.25em;
}

.footer {
  width: calc(100% - 120px);
  background: #f7f2f2;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 3rem 0;
  margin-top: 5rem;
}
.footer__inside-footer {
  width: calc(100% - 40px) !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer__logo-footer img {
  max-width: 160px;
  width: 100%;
  height: auto;
}
.footer__link-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
.footer__link-container li a {
  padding: 0.5rem 0.6rem;
  text-transform: none;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #262524;
  text-decoration: none;
  letter-spacing: 0.04em;
  line-height: 1em;
  display: block;
  text-align: -webkit-match-parent;
  font-family: "Assistant", sans-serif;
}
.footer__link-container li #special-text {
  font-size: 0.875rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */